:root {
    --chip_color: darkred;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

a:link,
a:visited {
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100px;
    border-width: 1px;
    border-style: outset;
    border-color: buttonborder;
}

a:hover,
a:active {
    background-color: lightgray;
}

span {
    font-size: 2em;
    font-weight: bold;
}

p {
    margin-top: 5px;
}

button,
input,
label {
    margin-top: 10px;
    font-size: 25px;
    width: 100px;
}

button.big,
input.big {
    font-size: 35px;
    width: 150px;
}

.row {
    align-items: center;
    justify-content: space-around;
    display: flex;
}

svg {
    display: block;
    margin: 0 auto;
}

rect,
polygon {
    fill: white;
    stroke: black;
    stroke-width: .1px
}

circle {
    fill: var(--chip_color);
    stroke: white;

}

circle.outer {
    stroke-dasharray: 1 2;
    stroke-width: .2;
}

circle.inner {
    stroke-dasharray: 1 1;
    stroke-width: .05;
}

button:hover {
    background-color: lightgrey;
}


text {
    text-anchor: middle;
    dominant-baseline: central;
}

text.chip {
    fill: white;
    font-weight: bold;
    stroke: black;
    stroke-width: .01px;
    font-size: 1px;

}

text.layout {
    font-style: italic;
    font-weight: bold;
    font-size: 3px;

}

text.column {
    font-weight: bold;
    font-size: 2px;

}

.correct {
    background-color: green;
    color: white
}

.correct:hover {
    background-color: darkgreen;
}

.incorrect {
    background-color: red;
    color: white
}

.incorrect:hover {
    background-color: darkred;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 35px auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}